/*
Image Float...............BBCODE-001
Border....................BBCODE-002
Background................BBCODE-003
Fieldset..................BBCODE-004
Side......................BBCODE-005
Divider...................BBCODE-006
Rows & Columns............BBCODE-007
Inline Spoiler............BBCODE-008
Justify...................BBCODE-009
Print.....................BBCODE-010
Email.....................BBCODE-011
Check.....................BBCODE-012
Newspaper.................BBCODE-013
Note......................BBCODE-014
Tabs......................BBCODE-015
Blockquotes...............BBCODE-016
Highlight.................BBCODE-017
Progress Bar..............BBCODE-018
Accordion.................BBCODE-019
OOC.......................BBCODE-020
LEFT, CENTER, RIGHT.......BBCODE-021
SIZE......................BBCODE-022
Spoiler...................BBCODE-023
*/

@import "common/foundation/variables";

/*************************************************
*** Image Float                      BBCODE-001***
*************************************************/
.float-left,
.float-right {
	display: block;
	margin: 10px;
	max-width: calc(50% - 10px) !important;
}
.float-left  { float: left; margin-left: 0; }
.float-right { float: right; margin-right: 0; }


/*************************************************
*** Border                           BBCODE-002***
*************************************************/
.bbcode-border {
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #2980b9;
}
	.bbcode-border .bbcode-background {
		margin: -10px;
}

/*************************************************
*** Background                       BBCODE-003***
*************************************************/
.bbcode-background {
	padding: 10px;
	color: black;
}

/*************************************************
*** Fieldset                         BBCODE-004***
*************************************************/

.bbcode-fieldset {
	width: 95%;
	margin: 0 auto;
	clear: both;
	border: 1px solid #2980b9;
	padding: 10px;
}
.bbcode-fieldset legend {
	margin-left: 3%;
	font-weight: 700;
	color: #2980b9;
	padding: 0 10px;
}

.bbcode-fieldset span {
	color: #2980b9;
}
@media screen and (max-width: 800px) {
	.bbcode-fieldset {
		width: 90%;
	}
}

/*************************************************
*** Side                             BBCODE-005***
*************************************************/

.bbcode-side {
	clear: both;
	width: 21%;
	border-left: 3px dotted #2980b9;
	border-right: 3px dotted #2980b9;
	padding: 2%;
	font-size: 75%;
}
.bbcode-side-left {
	float: left;
	margin: 1em 1em 1em 0;
	clear: left;
	@extend .bbcode-side;
}
.bbcode-side-right {
	float: right;
	margin: 1em 0 1em 1em;
	clear: right;
	@extend .bbcode-side;
}

@media screen and (max-width: 800px) {
	.bbcode-side,
	.bbcode-side-right,
	.bbcode-side-left {
		width: 80%;
		float: none;
		clear: both;
	}
}

/*************************************************
*** Divider                          BBCODE-006***
*************************************************/

.bbcode-horizontal-rule {
	border-bottom: 1px solid #2980b9;
	color: #2980b9;
	font-size: 75%;
	width: 100%;
	display: block;
	text-align: center;
  &-thick {
    @extend .bbcode-horizontal-rule;
    border-bottom: 3px solid #2980b9;
  }
}

.bbcode-horizontal-rule-dotted {
  @extend .bbcode-horizontal-rule;
	border-bottom: 1px dotted #2980b9;
}

.bbcode-horizontal-rule-dotted-thick,
.bbcode-horizontal-rule-thick-dotted {
  @extend .bbcode-horizontal-rule;
	border-bottom: 3px dotted #2980b9;
}


/*************************************************
*** Rows & Columns                   BBCODE-007***
*************************************************/

.bbcode-row {
	width: 100%;
	clear: both;
	overflow: hidden;
	margin: 0;
}

.bbcode-row .bbcode-column {
	margin: 0 0.5%;
	padding: 0 0.5%;
	float: left;
}

.bbcode-row .column-width-span1 	{	width: 10.5%;	} /*12.5*/
.bbcode-row .column-width-span2 	{	width: 23%;	} /*25*/
.bbcode-row .column-width-span3 	{	width: 35.5%;	} /*37.5*/
.bbcode-row .column-width-span4 	{	width: 48%;	} /*50*/
.bbcode-row .column-width-span5 	{	width: 60.5%;	} /*62.5*/
.bbcode-row .column-width-span6 	{	width: 73%;	} /*75*/
.bbcode-row .column-width-span7 	{	width: 85.5%;	} /*87.5*/
.bbcode-row .column-width-span8 	{	width: 98%;	} /*100*/

@media screen and (max-width: 900px) {
.bbcode-row .column-width-span1,
.bbcode-row .column-width-span2,
.bbcode-row .column-width-span3,
.bbcode-row .column-width-span4,
.bbcode-row .column-width-span5,
.bbcode-row .column-width-span6,
.bbcode-row .column-width-span7,
.bbcode-row .column-width-span8 	{	width: 100%;	} /*12.5*/

.bbcode-row .bbcode-column {
	margin: 0;
	padding: 0;
	float: none;
}

}

/*************************************************
*** Inline Spoiler                   BBCODE-008***
*************************************************/
.inlineSpoiler {
	background-color: currentColor;
	padding: 0 5px;
}
.inlineSpoiler:hover {
	background: #2980b9;
}

/*************************************************
*** Justifiy                         BBCODE-009***
*************************************************/
.bbcode-justify {
	display: block;
	text-align:justify;
}

/*************************************************
*** Print                            BBCODE-010***
*************************************************/

 .bbcode-print {
	font-family: 'Coming Soon', 'Architects Daughter', cursive;
	font-size: 16px;
	width: auto;
	margin: 0 auto;
	background-image: url("/plugins/discourse-rpn-bbcode/images/paper-top3.png"), url("/plugins/discourse-rpn-bbcode/images/paper-bottom3.png"), url("/plugins/discourse-rpn-bbcode/images/paper.jpg");
	background-position: 50% 0, 50% 100%, center;
	background-repeat: no-repeat, no-repeat, repeat;
	background-size: auto 65px, auto 65px, 400px 400px ;
	padding: calc(15px + 65px) 25px;
	line-height: 25px;

	&-line {
		@extend .bbcode-print;
		background-image: url("/plugins/discourse-rpn-bbcode/images/paper-top3.png"), url("/plugins/discourse-rpn-bbcode/images/paper-bottom3.png"), url("/plugins/discourse-rpn-bbcode/images/paperlined.jpg");
	}
	&-graph {
		@extend .bbcode-print;
		background-image: url("/plugins/discourse-rpn-bbcode/images/paper-top3.png"), url("/plugins/discourse-rpn-bbcode/images/paper-bottom3.png"), url("/plugins/discourse-rpn-bbcode/images/papergraph.jpg");
	}
	&-parchment {
		@extend .bbcode-print;
		background-image: url("/plugins/discourse-rpn-bbcode/images/paper-top3.png"), url("/plugins/discourse-rpn-bbcode/images/paper-bottom.png"), url("/plugins/discourse-rpn-bbcode/images/paperparchment");
	}
}

/*************************************************
*** Email                            BBCODE-011***
*************************************************/
.bbcode-email {
	border: 1px solid #2980b9;
	width: calc(100% - 2px);
	background: #2980b9;
	position: relative;
}

.bbcode-email-top-send,
.bbcode-email-top-receive {
	height: 30px;
	line-height: 30px;
	background-color: #2980b9;
	background-image: url("/plugins/discourse-rpn-bbcode/images/email-top.png");
	background-repeat: no-repeat;
	background-position: 100%;
	color: #2980b9;
	padding: 0 10px;
	display: none;
}

.bbcode-email-receive .bbcode-email-top-receive,
.bbcode-email-send .bbcode-email-top-send,
.bbcode-email .bbcode-email-top-send {
	display: block;
	color: white;
}
	.bbcode-email-receive .bbcode-email-top-send {
		display: none;
	}

.bbcode-email-first-row,
.bbcode-email-second-row {
	color: #2980b9;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	border-bottom: 1px solid #2980b9;
}

.bbcode-email-send .bbcode-email-first-row:before,
.bbcode-email .bbcode-email-first-row:before {
	content: "To:";
}
.bbcode-email-send .bbcode-email-receive .bbcode-email-receive .bbcode-email-first-row:after, .bbcode-email-first-row:after{
	content: "Cc    Bcc";
	position: absolute;
	right: 10px;
}
.bbcode-email-receive .bbcode-email-first-row:before {
	content: "From:";
}
.bbcode-email-second-row:before {
	content: "Subject:";
}
.bbcode-email-person,
.bbcode-email-subject {
	height: 35px;
	line-height: 35px;
	position: absolute;
}
	.bbcode-email-person {
		left: 40px;
		top: 30px;
	}
	.bbcode-email-receive .bbcode-email-person {
		left: 58px;
	}
	.bbcode-email-subject {
		left: 70px;
		top: 66px;
	}

.bbcode-email-main {
	padding: 10px;
}

.bbcode-email-footer {
	height: 40px;
	line-height: 40px;
	background: #2980b9;
	border-top: 1px solid #2980b9;
}

.bbcode-email-button {
	background: #2980b9;
	color: black;
	border-radius: 8px;
	width: 80px;
	margin: 5px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.bbcode-email-button:before {
	content: "Send";
}

.bbcode-email-receive .bbcode-email-button:before {
	content: "Reply";
}

/*************************************************
*** Check                            BBCODE-012***
*************************************************/

.bbcode-check {
	width: 30px;
	display: inline-block;
	text-align: center;
}
.bbcode-check-dot:before {
	content: "◉";
	color: #3498DB;
	@extend .bbcode-check;
}
.bbcode-check-check:before {
	content: "✓";
	color: #00b300;
	@extend .bbcode-check;
}
.bbcode-check-cross:before {
	content: "✘";
	color: #b30000;
	@extend .bbcode-check;
}

/*************************************************
*** Newspaper                        BBCODE-013***
*************************************************/
.bbcode-newspaper {
	font-family: "Times New Roman", Georgia, Serif;
	text-align: justify;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
	padding: 10px;
	background: url("/plugins/discourse-rpn-bbcode/images/paper.jpg");
	border: 1px solid #2980b9;
	color: black;
}
.bbcode-newspaper .post-heading,
.bbcode-newspaper .post-sub-heading  {
	font-family: "Times New Roman", Georgia, Serif;
}

@media screen and (max-width: 1000px) {
	.bbcode-newspaper {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
	}
}
@media screen and (max-width: 750px) {
	.bbcode-newspaper {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
	}
}

/*************************************************
*** Note                             BBCODE-014***
*************************************************/
/*
.bbcode-note {
	max-width: 450px;
	padding: 20px;
	line-height: 1.75em;
	margin: 0 auto;
	margin-top: 25px !important;
	font-family: 'Coming Soon', 'Architects Daughter', cursive;
	background: #FCF0AD url("/plugins/discourse-rpn-bbcode/images/notecorner.jpg") 100% 100% no-repeat;
	position: relative;
	color: black;
}

.bbcode-note .bbcode-note-content {
	overflow: hidden;
}

.bbcode-note .bbcode-note-footer {
	height: 50px;
	width: 50px;
	float: right;
}

.bbcode-note .bbcode-note-tape {
	background-color: hsla(0,0%,100%,.5);
	box-shadow: inset 0 0 1em .5em hsla(0,0%,100%,.1);
	height: 3em;
	position: absolute;
	transform: rotate(-4deg);
	width: 9em;
	-webkit-filter: drop-shadow(0 1px 1px hsla(0,0%,0%,.3));
	top: -1.5em;
	left: 50%;
	margin-left: -4.5em;
}
.bbcode-note .bbcode-note-tape:after,
.bbcode-note .bbcode-note-tape:before {
	background-size: .4em .4em;
	bottom: 0;
	content: '';
	position: absolute;
	top: 0;
	width: .2em;
}
.bbcode-note .bbcode-note-tape:after {
	background-image: linear-gradient(45deg, transparent 50%, hsla(0,0%,100%,.3) 50%),
					  linear-gradient(-45deg, transparent 50%, hsla(0,0%,100%,.3) 50%);
	background-position: 0 100%;
	left: -.2em;
}
.bbcode-note .bbcode-note-tape:before {
	background-image: linear-gradient(135deg, transparent 50%, hsla(0,0%,100%,.3) 50%),
					  linear-gradient(-135deg, transparent 50%, hsla(0,0%,100%,.3) 50%);
	background-position: 100% 100%;
	right: -.2em;
}
*/

/*************************************************
*** Tabs                             BBCODE-015***
*************************************************/

/* Style the tab */
.bbcode-tab {
	overflow: hidden;
	background-color: transparent;
	display: flex;
	flex-flow: row wrap;
	justify-content: start;

	& > div:first-of-type {
    display: block;
  }
}

/* Style the buttons inside the tab */
.bbcode-tab button {
	background-color: white;
	outline: none;
	cursor: pointer;
	padding: 4px 10px;
	transition: 0.3s;
	font-size: 17px;
	order: 1;
	margin: 5px;
	border: 1px solid #2980b9;
	color: black;
}

/* Change background color of buttons on hover */
.bbcode-tab button:hover {
	background-color: white;
	color: #2980b9;
}

/* Create an active/current tablink class */
.bbcode-tab button.active {
	background-color: #2980b9;
	color: white;
}

/* Style the tab content */
.bbcode-tab-content {
	display: none;
	padding: 10px;
	border: 0px solid #ccc;
	border-top: 3px solid #28669a;
	border-bottom: 1px solid #28669a;
	order: 2;
	flex: 1 0 100%;
	width: 100%;
}

/*************************************************
*** Blockquote                       BBCODE-016***
*************************************************/

.bbcode-blockquote {
	position: relative;
	overflow: hidden;
	height: 50px;
	margin: 0 auto;
	clear: both;
}

.bbcode-blockquote td {
	border-style: none;
}

.bbcode-blockquote .bbcode-blockquote-content {
	border-left: 3px dotted #2980b9;
	border-right: 3px dotted #2980b9;
}

.bbcode-blockquote .bbcode-blockquote-left,
.bbcode-blockquote .bbcode-blockquote-right {
	width: 50px;
}
.bbcode-blockquote .bbcode-blockquote-left {
	background: url('/plugins/discourse-rpn-bbcode/images/greyleftquote.png') 50% 0 no-repeat;
}
.bbcode-blockquote .bbcode-blockquote-right {
	background: url('/plugins/discourse-rpn-bbcode/images/greyrightquote.png') 50% 100% no-repeat;
}

.bbcode-blockquote .bbcode-blockquote-speaker {
	clear: both;
	width: 100%;
	text-align: right;
	color: #2980b9;
}
.bbcode-blockquote .bbcode-blockquote-speaker:before {
	content: "~";
	margin: 0 10px;
}

/*************************************************
*** Highlight                        BBCODE-017***
*************************************************/

.bbcodeHighlight {
	background: #2980b9;
	padding: 0 5px;
}

/*************************************************
*** Progress Bar                     BBCODE-018***
*************************************************/

.bbcode-progress {
	height: 30px;
	font-size: 15px;
	color: white;
	border: 1px solid #2980b9;
	position: relative;
}

.bbcode-progress .bbcode-progress-bar {
	background: #66d36b;
	height: 24px;
	margin: 3px;
	position: absolute;
	z-index: 20;
}

.bbcode-progress .bbcode-progress-bar-other {
	background: #808080;
	margin: 3px;
	height: 24px;
}
.bbcode-progress-color .bbcode-progress-bar-other {
	background: #28669a;
}

.bbcode-progress .bbcode-progress-text {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: 3px;
	padding-left: 5px;
	z-index: 21;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.bbcode-progress-color .bbcode-progress-bar {
	border-right: 2px solid #2980b9 Still;
}

/*************************************************
*** Accordion                        BBCODE-019***
*************************************************/

.bbcode-accordion {
	position: relative;
	width: 100%;
	height: auto;
}

.bbcode-slide-title {
	all: unset;
	width: 100%;
	height: auto;
	position: relative;
	cursor: pointer;
	padding: 10px;
	background-color: lightgray;
	color: black;
	box-sizing: border-box;

	&:hover {
		background-color: gray;
	}

	&:after {
		content: '\02795';
		font-size: 13px;
		color: #777;
		float: right;
		margin-left: 5px;
	}
}

.bbcode-slide-title.active:after {
	content: "\2796";
}

.bbcode-slide-content {
	box-sizing: border-box;
	padding: 0 10px;
	display: none;
}

/*************************************************
*** OOC                              BBCODE-020***
*************************************************/

.bbcode-ooc {
    color: #7897ba;
    font-style: italic;
    padding: 0;
    border: 1px solid #7897ba;
}
.bbcode-ooc div {
    font-style: normal;
    font-weight: 600;
    color: white;
    background: #7897ba;
    text-align: center;
    width: 50px;
    float: left;
    margin-right: 15px;
}

/*************************************************
*** LEFT, CENTER, RIGHT              BBCODE-021***
*************************************************/

.bbcode-content-left {
	text-align: left;
}

.bbcode-content-center {
	text-align: center;
}

.bbcode-content-right {
	text-align: right;
}

/*************************************************
*** SIZE              				 BBCODE-022***
*************************************************/
.bbcode-size-1{
	font-size: 9px;
}

.bbcode-size-2{
	font-size: 10px;
}

.bbcode-size-3{
	font-size: 12px;
}

.bbcode-size-4{
	font-size: 15px;
}

.bbcode-size-5{
	font-size: 18px;
}

.bbcode-size-6{
	font-size: 22px;
}

.bbcode-size-7{
	font-size: 26px;
}

/*************************************************
*** Spoiler           				 BBCODE-023***
*************************************************/
.bbcode-spoiler {
	margin: .75em 0;
}

.bbcode-spoiler-button {
	text-decoration: none;
	cursor: pointer;
	border: 1px solid transparent;
	    border-top-color: transparent;
	    border-right-color: transparent;
	    border-bottom-color: transparent;
	    border-left-color: transparent;
	font-size: 12px;
	border-radius: 4px;
	padding-top: 7px;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-left: 10px;
	text-align: center;
	color: #f2f5f8;
	background: #2980b9;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	max-width: 100%;
	display: inline-block;
	border-color: #216693;
}

.bbcode-spoiler-content {
	display: none;
}